<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nueva Carrera</h1>

    <form method="post" action="{% url 'nueva_carrera' %}">
        {% csrf_token %}
        Nombre Carrera: <input type="text" id="nombre" name="nombre"> <br><br>
        ID de la Carrera: <input  type="text" id="identificador" name="identificador"> <br><br>
        Numero de semestres <input type="number" id="semestres" name="semestres"> <br><br>
        <input type="submit" value="Enviar wason">
        <input type="reset" value="Restablecer">

    </form>
</body>
</html>